In [ ]:
#import library and all the required key
import tweepy
import pandas as pd
import sqlite3
import numpy as np

class twitter:
  def __init__(self):
    pass
  
  def ambil_data(self):
    #persiapkan key
    consumer_key = "XXXXXXXXXXXXXXXXXXXXX"
    consumer_secret = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    access_token = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    access_token_secret = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

    #buat handler auth
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tweepy.API(auth, wait_on_rate_limit=True)

    
    #buat fungsi pengambilan berdasarkan kata kunci
    search_words = ["cipta kerja","ciptaker", "omnibus law"]
    # search_words = "cipta kerja"
    #new_search = str.search_words + " -filter:retweets"
    date_since = "2020-10-21"
    date_until = "2020-10-23"
    nomor = []
    items = []
    waktu = []
    akun = []
    lokasi = []

    for tweet in tweepy.Cursor(api.search,q=search_words, count=300, lang="id", since= date_since, until = date_until).items():
      nomor.append(tweet.id)
      items.append(tweet.text)
      waktu.append(tweet.created_at)
      akun.append(tweet.user.screen_name)
      lokasi.append(tweet.user.location)
   
    #memasukkan dalam dataframe
    df = pd.DataFrame({'ID' : nomor, 'Tweets' : items, 'Waktu' : waktu, 'Akun' : akun, 'Lokasi' : lokasi})
    print (df)
    return df
  
  def simpan_data(self, df):
    conn = sqlite3.connect('data_to_sql.db')
    c = conn.cursor()
    c.execute('CREATE TABLE data_tweet (ID, Tweets, Waktu, Akun, Lokasi)')
    conn.commit()
    df.to_sql('data_tweet', conn, if_exists='replace', index = False)

app = twitter()
data = app.ambil_data()
app.simpan_data(data)

                      ID  ...                    Lokasi
0    1319426925522161664  ...
1    1319424690234904577  ...                 Indonesia
2    1319422818178584578  ...
3    1319421172656730112  ...   Tasikmalaya, Jawa Barat
4    1319419774221258753  ...                 Indonesia
..                   ...  ...                       ...
747  1318733744459579392  ...
748  1318730579324514305  ...
749  1318719833559629825  ...                 Indonesia
750  1318719672422858752  ...                     bogor
751  1318714322860662784  ...             di bumi ALLAH

[752 rows x 5 columns]